@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tan+Perfait&display=swap');

@layer base {
  :root {
    --font-heading: 'Tan Perfait', serif;
    --font-content: 'Josefin Sans', sans-serif;
  }

  html {
    font-family: var(--font-content);
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  .heading { font-family: var(--font-heading); letter-spacing: 0.02em; }
  .content { font-family: var(--font-content); }

  body {
    @apply antialiased;
  }
}

/* Utilities */
@layer utilities {
  .animate-in {
    animation-name: animateIn;
    animation-duration: 350ms;
    --tw-enter-opacity: initial;
    --tw-enter-scale: initial;
    --tw-enter-rotate: initial;
    --tw-enter-translate-x: initial;
    --tw-enter-translate-y: initial;
  }

  .animate-out {
    animation-name: animateOut;
    animation-duration: 350ms;
    --tw-exit-opacity: initial;
    --tw-exit-scale: initial;
    --tw-exit-rotate: initial;
    --tw-exit-translate-x: initial;
    --tw-exit-translate-y: initial;
  }
}
